# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Ss]share
[Pp]ython-wheels
pyvenv.cfg
.venv
pip-selfcheck.json

# Python
__pycache__/
*.py[co]
*$py.class
*.DS_*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Flask stuff:
instance/
.webassets-cache
[Mm]igrations/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/